@model Estrategia
@{
    ViewData["Title"] = "AdministrarPIID";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ObjetivosEstrategiasViewModel> objetivos = ViewBag.Lista;
    IEnumerable<Objetivo> NoVigente = ViewBag.NoVigentes;
    //ObjetivosEstrategiasViewModel OEVm = ViewBag.VM;
    //var num = ViewBag.IdObjetivo;
    //List<Estrategia> estrategias = ViewBag.Estrategias;

}
    <main>
        <nav>
            <div class="fabs" id="options">
                <a href="javascript:showM('popedit');" class="fab-button"><i class="fa fa-edit"></i></a>
                <a href="javascript:showM('popdelete');" class="fab-button openpopup"><i class="fa fa-trash"></i></a>
            </div>
            <ul class="fabSubfab">
                <li>
                    <a href="#" class="fab"><i class="fa fa-plus"></i></a>
                    <ul>
                        <li>
                            <a href="javascript:showM('popadd');">Añadir objetivo</a>
                        </li>
                        <li>
                            <a href="javascript:showM('popaddE');">Añadir estrategia</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section>
            <h2>Administrar objetivos y estrategias</h2>
            <div class="respTable">
                <ol>
                    <li>
                        <table class="table">
                            @foreach (ObjetivosEstrategiasViewModel obje in objetivos)
                            {
                                <tr id="thObj">

                                    <th id="@obje.Id" class="Dato">@obje.Nombre</th>
                                </tr>
                                @foreach (Estrategia item in obje.ListaEstregias)
                                {
                                    <tr id="filaEst">

                                        <td id="@item.Id" class="estN">@item.Nombre</td>
                                    </tr>
                                }
                            }
                        </table>
                    </li>
                </ol>
            </div>
            </section>
    </main>
@Html.Raw(ViewBag.Message)
<div class="container-all" id="popdelete" style="display:none;">
    <section class="popup" style="visibility:visible;">
        <label id="ElimPass">¿Eliminar?</label>
        <form class="formAjax"  method="post">
            <input id="deleteId" name="delO"  hidden />
            
            <div class="btnpop">
                <input type="submit" class="confirm" onclick="location.javascript;HideM('popdelete');" value="Aceptar" />
                <button type="button" class="cancel" onclick="location.javascript;HideM('popdelete');">Cancelar</button>
            </div>
        </form>
    </section>
</div>
<div class="container-all" id="popadd" style="display:none;">
    <section class="popup" style="visibility:visible;">
        <form method="post" action="~/PIID/Nuevo" class="formAjax">
            <label>Agregar</label>
            <label>Objetivo:</label>
            <select asp-for="Id">
                <option selected="selected">-- Objetivos --</option>
                @foreach (Objetivo item in NoVigente)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
            <p class="error"></p>
            <div>
                <button class="cancel" onclick="location.javascript;HideM('popadd');">Cancelar</button>
                <button class="confirm" type="submit">Añadir</button>
            </div>
        </form>
    </section>
</div>
<div>
    <script>
       
    
    function editar(id) {
        $.post('@Url.Action("GetObjetivo", "PIID")', { "idObjetivo": id }, function (data, status) {
				if (data != false) {
                    var y = $("#ModalEdit form");
                    y.find("#MostrarEst").val(data.Nombre);

				}
			});
    }

    </script>
</div>
<div class="container-all" id="popaddE" style="display:none;">
    <section class="popup" style="visibility:visible;">
        <form method="post" action="~/PIID/Agregar" class="formAjax">
            <h2>Agregar</h2>
            <h1>Estrategia:</h1>
            <input class="agregarObj" type="text" />
            <p class="error"></p>
            <div>
                <button class="cancel" onclick="location.javascript;HideM('popaddE');">Cancelar</button>
                <button class="confirm" type="submit">Añadir</button>
            </div>
        </form>
    </section>
</div>
<div class="container-all" id="popedit" style="display:none;">
    <section class="popup" style="visibility:visible;" id="ModalEdit">
        <form method="post" action="~/PIID/Editar" class="formAjax">
            <h2>Editar</h2>
            <h1>Estrategia:</h1>
            <input asp-for="Nombre" class="agregarObj" id="MostrarEst" type="text" />
            <p class="error"></p>
            <div>
                <button class="cancel" onclick="location.javascript;HideM('popedit');">Cancelar</button>
                <button class="confirm" type="submit">Añadir</button>
            </div>
        </form>
    </section>
</div>
<script src="~/scripts/funciones.js"></script>