@model IEnumerable<UnidadAdministrativasViewModel>
@{
    ViewData["Title"] = "Administrar Unidades Administrativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <section class="arriba">
        <div class="lbl">
            <label>Unidades </label>
        </div>
       
    </section>
</header>

<main>
    <div class="buscar">
        <a asp-controller="UnidadesAdministrativas" asp-action="Agregar" class="plus"></a>
        <input class="search" type="search" placeholder="Buscar..." />
    </div>
    <table>
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Encargado</th>
            <th>Superior</th>
            <th style="width:40px;"></th>
            <th style="width:40px;"></th>
        </tr>
        @foreach (UnidadAdministrativasViewModel unidad in Model)
        {
    <tr id="fila">
        <td>@unidad.Clave</td>
        <td>@unidad.Nombre</td>
        <td>@unidad.NombreEncargado</td>
        <td>@unidad.NombreSuperior</td>
        @*<td class="openpopup" style="width:20px;"><a asp-action="Eliminar" asp-controller="UnidadesAdministrativas" asp-route-id="@unidad.Id">......</a></td>*@
        <td class="openpopup" style="width:20px;"><a onclick="verModal({Id:'@unidad.Id', Nombre:'@unidad.Nombre'})" href="#pop">......</a></td>
        @*<td class="openpopup" style="width:20px;"><a href="#pop">......</a></td>*@
        <td style="width:20px;"><a class="edit" asp-action="Editar" asp-route-id="@unidad.Id">......</a></td>
    </tr>
        }
    </table>
</main>
@*<div class="container-all" id="pop">
    <section class="popup">
        <label>¿Eliminar?</label>
        <input class="confirm" type="button" value="Confirmar" />
        <a class="cancel" href="#">cancelar</a>
    </section>
</div>*@

<div class="container-all" id="pop">
    <section class="popup">
        <p id="unidad"></p>
        <button id="btnAceptar" type="submit">Aceptar</button>
        <a class="cancel" href="#">Cancelar</a>
    </section>
</div>

<script>
    let modal = document.getElementById('pop')
    let unidadModal = document.getElementById('unidad')
    let btnAceptar = document.getElementById('btnAceptar')

    function verModal(unidad) {
        unidadModal.innerText = `¿Estás seguro de eliminar a la unidad ${unidad.Nombre}?`

        btnAceptar.onclick = function () {
            window.location.href = `UnidadesAdministrativas/Eliminar/${unidad.Id}`
        }
    }
</script>


