@model IEnumerable<Unidadadministrativa>
@{
    ViewData["Title"] = "Administrar Unidades Administrativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="lbl ">
        <label>Unidades administrativas</label>
        <a href="#" aria-label="Cerrar sesión" class="logout hint--left">............</a>
    </div>
</header>

<main>
    <div class="fabs">
        <div id="options">
            <button onclick="EditarUnidad()" id="btnEditar" class="material-icons fab-button hint--left" aria-label="Editar" >edit</button>
            <button onclick="MostrarPopUp(pop)" id="btnEliminar" class="material-icons fab-button hint--left" aria-label="Eliminar" >delete</button>
        </div>

        <a href="~/UnidadesAdministrativas/Agregar" class="material-icons fab-button openpopup hint--left" aria-label="Añadir nuevo">add</a>
    </div>
    <table id="table">
        <tr class="Head">
            <th>Clave</th>
            <th>Nombre</th>
            <th>Encargado</th>
            <th>Superior</th>
   
        </tr>
        @foreach (Unidadadministrativa unidad in Model)
        {
            <tr id="fila" onclick="verModal({Id:'@unidad.Id', Nombre:'@unidad.Nombre'})">
                <td>@unidad.Clave.ToString("0000")</td>
                <td>@unidad.Nombre</td>
                <td>@unidad.Encargado</td>
                @if (unidad.IdUnidadSuperiorNavigation != null)
                {
                    <td>@unidad.IdUnidadSuperiorNavigation.Nombre</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
    @Html.Raw(ViewBag.Message)
</main>
<div class="container-all" id="pop" > 
    <section  class="popup" id="message">
        <form method="post" asp-action="Eliminar">
            <label id="unidad"></label>
            <div class="botonesPop">
                <button onclick="EsconderPopUp()" type="button" class="confirm" id="btnCancelar">Cancelar</button>
                <button class="cancel" id="btnAceptar" type="submit">Aceptar</button>
                <input id="IdUnidad" name="id" type="hidden" value=""/>
            </div>
        </form>
    </section>
</div>

<script src="~/scripts/funciones.js"></script>
