@model IEnumerable<Unidadadministrativa>
@{
    ViewData["Title"] = "Administrar Unidades Administrativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <div class="fabs">
        <div id="options">
            <button onclick="EditarUnidad()" id="btnEditar" class="fab-button" ><i class="fa fa-edit"></i></button>
            <button onclick="MostrarPopUp(pop)" id="btnEliminar" class="fab-button" ><i class="fa fa-trash"></i></button>
        </div>

        <a href="~/UnidadesAdministrativas/Agregar" class="fab-button openpopup"><i class="fa fa-plus"></i></a>
    </div>
    <section>
        <h2>Unidades administrativas</h2>

        <div class="respTable">
            <table id="table">
                <thead>
                    <tr class="Head">
                        <th class="center">Clave</th>
                        <th class="center">Nombre</th>
                        <th class="center">Encargado</th>
                        <th class="center">Superior</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Unidadadministrativa unidad in Model)
                    {
                        <tr id="fila" onclick="verModal({Id:'@unidad.Id', Nombre:'@unidad.Nombre'})">
                            <td class="center">@unidad.Clave.ToString("0000")</td>
                            <td class="center">@unidad.Nombre</td>
                            <td class="center">@unidad.Encargado</td>
                            @if (unidad.IdUnidadSuperiorNavigation != null)
                            {
                                <td class="center">@unidad.IdUnidadSuperiorNavigation.Nombre</td>
                            }
                            else
                            {
                                <td class="center"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    @Html.Raw(ViewBag.Message)
</main>
<div class="container-all" id="pop" > 
    <section  class="popup" id="message">
        <form method="post" asp-action="Eliminar">
            <h2 id="unidad"></h2>
            <div class="botonesPop">
                <button onclick="EsconderPopUp()" type="button" class="confirm" id="btnCancelar">Cancelar</button>
                <button class="cancel" id="btnAceptar" type="submit">Aceptar</button>
                <input id="IdUnidad" name="id" type="hidden" value=""/>
            </div>
        </form>
    </section>
</div>

<script src="~/scripts/funciones.js"></script>
