@inject UnidadesAdministrativasService servicio
@model UnidadEstrategiasPermitidasViewModel
@{
    ViewData["Title"] = "PermitirEstrategias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="fabsMain">
        <button id="btnEditar" class="fab-button"><i class="fa fa-edit"></i></button>
    </div>
    <h3>Unidad administrativa:</h3>
    @if (ViewBag.IdUnidad > 0)
        {
    <select id="cmbUnidades" asp-items="@(new SelectList(servicio.GetSuperiores(ViewBag.IdUnidad),"Id","Nombre"))" onchange="CambiarUnidad()">
        <option selected="selected" value="@ViewBag.IdUnidad">@ViewBag.NombreUnidad</option>
    </select>
        }
        else
        {
    <select id="cmbUnidades" asp-items="@(new SelectList(servicio.GetSuperiores(),"Id","Nombre"))" onchange="CambiarUnidad()">
        <option selected="selected" value="">-- Seleccionar Unidad --</option>
    </select>
        }
    @if (Model != null)
        {
    <div class="divSeleccionados">
        <h3>Estrategias seleccionadas</h3>
        <dl>
            @foreach (var objetivo in Model.ObjetivosPermitidos)
                    {
            <dt>@objetivo.NombreObjetivo</dt>
            @foreach (var estrategia in objetivo.EstrategiasPermitidas)
                        {
            <dd>@estrategia.NombreEstrategia</dd>
                        }
                    }
        </dl>
    </div>
        }
</main>
<div class="container-all" id="popadd">
    <section class="popupestrategias">
        <h3>Añadir estrategias</h3>
        <section id="estrategias">
            @*<ul>
                    <li><input type="checkbox" /><label>estrategia</label></li>
                    <li><input type="checkbox" /><label>estrategia</label></li>
                    <li><input type="checkbox" /><label>estrategia</label></li>
                    <li><input type="checkbox" /><label>estrategia</label></li>
                </ul>*@
            @if (Model != null)
            {
            <dl>
                @foreach (var objetivo in Model.ObjetivosPermitidos)
                {
                <dt>@objetivo.NombreObjetivo</dt>
                @foreach (var estrategia in objetivo.EstrategiasPermitidas)
                    {
                <dd><input type="checkbox" />@estrategia.NombreEstrategia</dd>
                    }
                }
            </dl>
            }
        </section>
        <div>
            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>
        </div>
    </section>
</div>
<script src="~/scripts/selectOnChange.js"></script>